* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.favorite-gradient {
  background: linear-gradient(
    90deg,
    rgba(187, 87, 215, 1) 0%,
    rgba(100, 100, 229, 1) 35%,
    rgba(0, 114, 245, 1) 100%
  );
}

.defavorite-gradient {
  background: linear-gradient(
    86deg,
    rgba(117, 117, 117, 1) 21%,
    rgba(27, 27, 27, 1) 87%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #af58d8 #111827;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #111827;
}

*::-webkit-scrollbar-thumb {
  background-color: #af58d8;
  border-radius: 25px;
  border: 0px solid #ffffff;
}
